<mat-form-field class="w-100">
  <mat-label>Select a time frame</mat-label>
  <mat-select>
    <mat-option *ngFor="let option of filterTimeOptions" (onSelectionChange)="setTimeSearch($event, option)" value="{{option}}">{{option}}</mat-option>
  </mat-select>
</mat-form-field>

<br><br>

<div style="display: block" *ngIf="lineChartData.length > 0">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [chartType]="'line'"
          [plugins]="lineChartPlugins">
  </canvas>
</div>

