<h1 mat-dialog-title>Payment</h1>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight color="accent">
    <mat-tab label="Payment Service">
      <br>
      <div class="card mat-elevation-z8" style="height:30rem; width: 30rem;">
        <div class="card-body">
          <div style="height: 95%;width: 100%">
            <span>Billing Service Here</span>
                <div class="skeleton-wrapper">
                  <div class="skeleton-wrapper-inner">
                    <div class="skeleton-wrapper-body">
                      <div></div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <button  mat-stroked-button color="accent" >Purchase</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Asociate Points">
      <br>
    </mat-tab>
    <mat-tab label="Ticket Agent Pourpose">
      <br>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Close</button>
</div>
