
<h1 mat-dialog-title>{{!purchaseCompleted ? "Payment" : "Your Ticket"}}</h1>
<mat-dialog-content  *ngIf="!purchaseCompleted">
  <mat-tab-group dynamicHeight color="accent">

    <mat-tab label="Payment Service">
      <mat-card>

        <mat-card-header>
          <mat-card-title>Billing Service Here</mat-card-title>
        </mat-card-header>

          <mat-card-content>
            <div class="skeleton-wrapper" style="height:15rem;">
              <div class="skeleton-wrapper-inner">
                <div class="skeleton-wrapper-body">
                  <div></div>
                </div>
              </div>
            </div>
            <mat-card>
              <mat-card-content>
                <h6>Number of Seats: {{data.seatCount}}</h6>
                <h6>Final Price: {{data.price | number : '1.2'}}</h6>
              </mat-card-content>
            </mat-card>
        </mat-card-content>
        <mat-card-actions class="row">
          <div class="col text-center">
            <button mat-stroked-button color="accent" (click)="makeOrder()">Purchase</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab  *ngIf="data.that.associate" label="Asociate Points">

      <mat-card>

        <mat-card-header>
          <mat-card-title>Pay With Associate Points</mat-card-title>
        </mat-card-header>

        <mat-card-content>
         <mat-card>
            <mat-card-content>
              <h6>Number of Seats: {{data.seatCount}}</h6>
              <h6>Available Points: {{data.that.associate.points}}</h6>
              <h6>Points Price: pontsprice</h6>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
          <mat-card-actions class="row">
            <div class="col text-center">
              <button mat-stroked-button color="accent" (click)="makeOrder('assoc')">Purchase</button>
            </div>
          </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab   *ngIf="user && authorizeService.userInRoles(user,['TicketAgent'])" label="Ticket Agent Pourpose">
      <mat-card>

        <mat-card-header>
          <mat-card-title>Confirm borrowed tickets order</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-card>
            <mat-card-content>
              <h6>Number of Seats: {{data.seatCount}}</h6>
              <h6>Final Price: {{data.price | number : '1.2'}}</h6>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
          <mat-card-actions class="row">
            <div class="col text-center">
              <button mat-stroked-button color="accent" (click)="makeOrder('agent')">Borrow</button>
            </div>
          </mat-card-actions>
      </mat-card>
    </mat-tab>

  </mat-tab-group>
<br>
</mat-dialog-content>

  <mat-dialog-content *ngIf="purchaseCompleted">
    <div id="ticket" class="ticket">
      <div class="stub" style="float: left">
        <div class="top">
          <span class="admit">Cine+</span>
          <span class="line"></span>
          <span class="num">
        BEST
        <span>Choice</span>
      </span>
        </div>
        <img src="favicon.ico" class="big" alt="+" style="width: 128px">
        <div class="invite">
          Online Ticket
        </div>
      </div>
      <div class="check" style="float: left">
        <div style="text-align: center">
          <span class="num">SCAN WITH TICKET MACHINE</span>
          <qrcode [qrdata]="'ORDER:'+data.order" [width]="128" [errorCorrectionLevel]="'M'"
                  [elementType]="'svg'"></qrcode>
        </div>
        <div class="info">
          <section>
            <div class="title">Reproduction:</div>
            <div>{{data.that.reproduction.movie.movieName}}</div>
          </section>
          <section>
            <div class="title">Date & Time:</div>
            <div>{{data.that.reproduction.startTime}}</div>
          </section>
          <section>
            <div class="title">Seats:</div>
            <div>{{data.seatCount}}</div>
          </section>
          <section>
            <div class="title">Price:</div>
            <div>{{data.price | number : '1.2'}}</div>
          </section>
        </div>
      </div>
    </div>
    <h6 style="padding-left: 2rem">You may close the form after printing the ticket.</h6>
    <button mat-button color="accent"
            style="margin-left: 2rem"
            printSectionId="ticket"
            [useExistingCss]="true"
            (click)="printed=true"
            matTooltip="Make sure to enable images in print options"
            ngxPrint>PRINT
    </button>
  </mat-dialog-content>

<mat-dialog-actions style="padding-top: 10px" align="end">
  <button mat-button [mat-dialog-close] [hidden]="purchaseCompleted && !printed">Close</button>
</mat-dialog-actions >


