<div class="container-md">
  <h2>Reserve Your Tickets</h2>
</div>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Tickets</mat-label>
    <input type="number" matInput [formControl]="ticketsFormControl" [errorStateMatcher]="matcher" (input)="onChange()">
    <mat-hint></mat-hint>
    <mat-error *ngIf="ticketsFormControl.hasError('required')">
      Number of tickets is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="ticketsFormControl.hasError('min')">
      Minimum number of tickets is 1
    </mat-error>
    <mat-error *ngIf="ticketsFormControl.hasError('max')">
      More tickets than seats available
    </mat-error>

  </mat-form-field>
</form>

<div class="plane">
  <ol class="cabin" *ngFor="let row of seats let i = index">
     <li class="row row--{{i}}">
       <ol class="seats" type="A" *ngFor="let seat of row let j = index">
         <li class="seat">
           <input type="checkbox" id="seat" [disabled]="seat == 0"/>
           <label for="seat"></label>
         </li>
       </ol>
     </li>
  </ol>
</div>

<button mat-stroked-button color="accent">Reserve</button>
