table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 18%;
}

.edit-button {
  min-width: unset;
  border-radius: 24px;
  padding: 0 12px;
}

::ng-deep .mat-button-wrapper {
  padding: unset !important;
  display: inline-block;
  line-height: unset !important;
}

.spacer {
  width: 100px;
  min-width: 100px;
}

::ng-deep .mat-paginator-container {
  justify-content: center !important;
  min-height: unset !important;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.example-element-image {
  width: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
}
