<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. cine" #input>
</mat-form-field>

<div class="mat-elevation-z8" *ngIf="discountsDataSource.result">
  <table mat-table [dataSource]="discountsDataSource.result" matSort>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element, let i = index">
        <ng-container *ngIf="!modify[i]; then descriptionLabel; else descriptionInput"></ng-container>
        <ng-template #descriptionLabel>
          <mat-label>{{element.description}}</mat-label>
        </ng-template>
        <ng-template #descriptionInput>
          <mat-form-field>
            <input [(ngModel)]="element.description" [ngModelOptions]="{standalone: true}" matInput/>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef> Discount </th>
      <td mat-cell *matCellDef="let element, let i = index">
        <ng-container *ngIf="!modify[i]; then discountLabel; else discountInput"></ng-container>
        <ng-template #discountLabel>
          <mat-label>{{element.discount}}</mat-label>
        </ng-template>
        <ng-template #discountInput>
          <mat-form-field>
            <input [(ngModel)]="element.discount" [ngModelOptions]="{standalone: true}" matInput/>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element, let i = index">
        <ng-container *ngIf="!modify[i]; then dateLabel; else dateInput"></ng-container>
        <ng-template #dateLabel>
          <mat-label>{{element.date}}</mat-label>
        </ng-template>
        <ng-template #dateInput>
          <mat-form-field>
            <input matInput [(ngModel)]="element.date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker color="warn" #picker></mat-datepicker>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="modify">
      <th mat-header-cell *matHeaderCellDef> Modify </th>
      <td mat-cell *matCellDef="let element, let i = index">
        <ng-container *ngIf="!modify[i]; then modifyButtom; else updateButtom"></ng-container>
        <ng-template #modifyButtom>
          <button mat-raised-button color="primary" (click)="changeEnables(i)">
            Modify
          </button>
        </ng-template>
        <ng-template #updateButtom>
          <button mat-raised-button color="primary" (click)="editDiscount($event, element, i)">
            Update
          </button>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element;">
        <button mat-raised-button color="warn" (click)="deleteDiscount($event, element.id)">
          Delete
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="inputDescription">
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field>
          <input [(ngModel)]="newDateDiscount.description" [ngModelOptions]="{standalone: true}" matInput placeholder="Description"/>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="inputDiscount">
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field>
          <input [(ngModel)]="newDateDiscount.discount" [ngModelOptions]="{standalone: true}" matInput placeholder="Discount"/>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="inputDate">
      <td mat-footer-cell *matFooterCellDef>
        <mat-form-field>
          <input matInput [(ngModel)]="newDateDiscount.date" [matDatepicker]="picker" placeholder="Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="add">
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button color="primary" (click)="addDiscount($event)">
          Add
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="reset">
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button color="warn" (click)="resetNewDiscount()">
          Reset
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['description', 'discount', 'date', 'modify', 'delete']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['description', 'discount', 'date', 'modify', 'delete'];"></tr>
    <tr mat-row *matFooterRowDef="['inputDescription', 'inputDiscount', 'inputDate', 'add', 'reset']"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                 [pageSize]="discountsDataSource.currentPagination.pageSize"
                 [length]="discountsDataSource.currentPagination.totalItems"
                 [pageIndex]="discountsDataSource.currentPagination.currentPage - 1" (page)="editPagination($event)">
  </mat-paginator>
</div>
