<mat-divider></mat-divider>
<h2>Create New Reproduction</h2>

<mat-card class="mb-3 mt-3">
  <ng-form>
    <p>
      <mat-form-field>
        <input [(ngModel)]="newReproduction.startTime" [formControl]="dateTimeFormControl" [errorStateMatcher]="matcher" type="datetime-local" matInput placeholder="Start time"/>
        <mat-error *ngIf="dateTimeFormControl.hasError('required')">
          Date and time of reproduction is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Select the theater</mat-label>
        <mat-select>
          <mat-option *ngFor="let theater of theaters" (onSelectionChange)="setNewReproductionTheater($event, theater)" value="{{theater}}">{{theater.id}}: {{theater.rows}}x{{theater.columns}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field floatLabel="always">
        <mat-label>Price</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </p>
  </ng-form>

  <button mat-raised-button (click)="AddReproduction()">Submit</button>
</mat-card>

