<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter(input.value)" placeholder="Ex. cine" #input>
</mat-form-field>

<div class="mat-elevation-z8" *ngIf="genreDataSource.result">
  <table mat-table [dataSource]="genreDataSource.result" matSort (matSortChange)="sortTable($event)">

    <ng-container *ngFor="let disCol of propColumns; let colIndex = index" matColumnDef="{{disCol}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!sortColumns[colIndex]">{{disCol | titlecase}}</th>
      <td mat-cell *matCellDef="let element">
        {{disCol == 'name' ? element.genreName : element[disCol]}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button class="edit-button" mat-button (click)="openDialog(element)"><fa-icon [icon]="faEdit"></fa-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-toolbar-row>
    <button mat-mini-fab class="add-button float-right" (click)="openDialog(null)">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <span class="float-right spacer"></span>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageSize]="genreDataSource.currentPagination.pageSize"
                   [length]="genreDataSource.currentPagination.totalItems"
                   [pageIndex]="genreDataSource.currentPagination.currentPage - 1"
                   (page)="editPagination($event)">
    </mat-paginator>
  </mat-toolbar-row>

</div>
