<div class="mat-elevation-z8" *ngIf="orderDataSource.result">
  <table mat-table [dataSource]="orderDataSource.result">

    <ng-container matColumnDef="Orders">
      <th mat-header-cell *matHeaderCellDef>Orders</th>
      <td mat-cell *matCellDef="let element; let i = index" class="outer-td">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{element[0].reproduction.movie.movieName}}
            </mat-panel-title>
            <mat-panel-title>
              {{calculatePrice(i)}}
            </mat-panel-title>
            <mat-panel-title>
              {{'Start Date: ' + formatDate(element[0].reproduction.startTime,
              "dd/MM/yyyy hh:mm:ss", 'en_US')}}
            </mat-panel-title>
            <ng-container *ngIf="canCancel(i); then buttom; else label"></ng-container>
            <ng-template #buttom>
              <button mat-raised-button (click)="cancelOrder(i)">
                Cancel
              </button>
            </ng-template>
            <ng-template #label>
              <mat-panel-title>{{hasBeenShown(i) ? 'This film has already been shown' :
                'The time for cancelation expired'}}</mat-panel-title>
            </ng-template>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8" *ngIf="element">
            <table mat-table [dataSource]="element">

              <ng-container matColumnDef="discounts">
                <th mat-header-cell *matHeaderCellDef>Discounts</th>
                <td mat-cell *matCellDef="let j = index">
                  {{calculateDiscounts(i, j) + '%'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="theater">
                <th mat-header-cell *matHeaderCellDef>Theater</th>
                <td mat-cell *matCellDef="let j = index">
                  {{'Rows: ' + element[j].reproduction.theater.rows + ' Columns: ' +
                  element[j].reproduction.theater.columns}}
                </td>
              </ng-container>

              <ng-container matColumnDef="seat">
                <th mat-header-cell *matHeaderCellDef>Seat</th>
                <td mat-cell *matCellDef="let j = index">
                  {{'Seat number ' + (element[j].seat.column + 1) + ' in row ' + (element[j].seat.row + 1)}}
                </td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>
                  {{element[0].price == 0 ? 'Points' : 'Price'}}
                </th>
                <td mat-cell *matCellDef="let j = index">
                  {{element[j].price == 0 ? element[j].points : element[j].price}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="allColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: allColumns;"></tr>
            </table>
          </div>
        </mat-expansion-panel>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['Orders']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['Orders'];"></tr>
  </table>

  <mat-toolbar-row>
    <span class="float-right spacer"></span>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageSize]="orderDataSource.currentPagination.pageSize"
                   [length]="orderDataSource.currentPagination.totalItems"
                   [pageIndex]="orderDataSource.currentPagination.currentPage - 1"
                   (page)="editPagination($event)">
    </mat-paginator>
  </mat-toolbar-row>
</div>

