# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Cineplus.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Universidad\3 Ano\Proyectos\IS\Proyecto Final\cineplus\.idea\.idea.Cineplus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
