<div id="reproductionCarousel" class="carousel slide" data-ride="carousel" *ngIf="reprData.result">

  <div class="carousel-inner">
    <img src="{{ getSlide() }}" class="d-block w-100" alt="slide" height="640px" width="360px">
    <div class="carousel-caption d-none d-md-block">
      <h4>{{ getTitle() }}</h4>
      <p>{{ getDate() }}</p>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#reproductionCarousel" data-bs-slide="prev" (click)='getPrev()'>
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#reproductionCarousel" data-bs-slide="next" (click)='getNext()' >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
