<owl-carousel-o [options]="owlConfig">

  <ng-container *ngFor="let movie of movieData.result.concat(movieData.result)">
    <ng-template carouselSlide>
      <div class="slide">
        <mat-card class="mb-3 ml-1 mr-1 mt-1">
          <mat-card-header>
            <mat-card-title>
              {{ movie.movieName }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ movie.director }} <fa-icon [icon]="faStar"></fa-icon> {{movie.score}}
            </mat-card-subtitle>
          </mat-card-header>
          <img class="mb-3 movie-borders" src="{{ picsFromMovie(movie) }}" alt="No image available">
          <mat-card-content>{{ movie.genre.genreName }} - {{parseDuration(movie.duration)}}</mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-button [routerLink]="['/reproduction']" [queryParams]="{movie: movie.id}" >TICKET</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </ng-container>

</owl-carousel-o>
