<owl-carousel-o [options]="owlConfig" *ngIf="movieData.result">

  <ng-container *ngFor="let movie of movieData.result.concat(movieData.result)">
    <ng-template carouselSlide>
      <div class="slide">
        <mat-card class="mb-3 ml-1 mr-1 mt-1">
          <mat-card-header>
            <mat-card-title>
              {{ movie.movieName }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ movie.director }} <fa-icon [icon]="faStar"></fa-icon> {{movie.score}}
            </mat-card-subtitle>
          </mat-card-header>
          <img [src]="movie.imageUrl" (load)="movie['loaded'] = true" [hidden]="!movie['loaded']"  alt=""/>
          <img src="assets/placeholder.png" [hidden]="movie['loaded']" alt="">
          <mat-card-content>{{ movie.genre.genreName }} - {{parseDuration(movie.duration)}}</mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-button [routerLink]="['/reproduction']" [queryParams]="{movie: movie.id}" >TICKET</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </ng-container>

</owl-carousel-o>

<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      All movies
    </mat-panel-title>
    <mat-panel-description>
      {{panelOpenState ? 'Hide all movies.' : 'Show all movies.'}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-list-movies></app-list-movies>
</mat-expansion-panel>
