.full-width{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.no-margin{
  margin-top: -1rem;
}

.movie-borders {
  border-style: inset;
}

mat-card-subtitle {
  margin-bottom: 5px;
}

mat-expansion-panel {
  margin-top: 2rem;
}
