<mat-tab-group mat-align-tabs="start" dynamicHeight>
  <mat-tab label="Movies">
    <app-manage-movies></app-manage-movies>
  </mat-tab>
  <mat-tab label="Genres">
    <app-manage-genres></app-manage-genres>
  </mat-tab>
  <mat-tab label="Actors">
    <app-manage-actors></app-manage-actors>
  </mat-tab>
  <mat-tab label="Personal Discounts">
    <app-manage-personalDiscounts></app-manage-personalDiscounts>
  </mat-tab>
  <mat-tab label="Date Discounts">
    <app-manage-dateDiscounts></app-manage-dateDiscounts>
  </mat-tab>
  <mat-tab label="Carousel">
    <app-manage-carousel></app-manage-carousel>
  </mat-tab>
  <mat-tab label="Statistics">
    <app-manage-statistics></app-manage-statistics>
  </mat-tab>
  <mat-tab label="Points">
    <mat-form-field>
      <mat-label>Price in Points</mat-label>
      <input [formControl]="priceValidator" type="number" matInput [(ngModel)]="priceInPoints">
    </mat-form-field>
    <button class="ml-3" mat-raised-button color="primary" (click)="submit()">Submit</button>
  </mat-tab>
</mat-tab-group>
