<div mat-dialog-content>
  <mat-form-field appearance="standard">
    <mat-label>Movie Name</mat-label>
    <input [formControl]="nameControl" matInput [(ngModel)]="data.movie.movieName">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Director</mat-label>
    <input [formControl]="directorControl" matInput [(ngModel)]="data.movie.director">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Duration (in minutes)</mat-label>
    <input [formControl]="durationControl" matInput type="number" [(ngModel)]="data.movie.duration">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Score [0-10]</mat-label>
    <input [formControl]="scoreControl" matInput type="number" step="0.1" [(ngModel)]="data.movie.score">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Genre</mat-label>
    <input type="text"
           matInput
           [formControl]="autocompleteControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let genre of genreDataSource.result" [value]="genre.genreName">
        {{genre.genreName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Image Url</mat-label>
    <input [formControl]="imageControl" matInput [(ngModel)]="data.movie.imageUrl">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Description</mat-label>
    <textarea [formControl]="descriptionControl" matInput type="text" [(ngModel)]="data.movie.description"
              cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="7">
    </textarea>
  </mat-form-field>

  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Cast selection">
      <mat-chip
        *ngFor="let actor of this.movie.actors"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(actor)">
        {{actor.actorName}}
        <i class="fa fa-remove" matChipRemove></i>
      </mat-chip>
      <input
        placeholder="Add cast member..."
        #actorInput
        [formControl]="actorFormControl"
        [matAutocomplete]="autoActor"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur">
    </mat-chip-list>
    <mat-autocomplete *ngIf="actorDataSource" #autoActor="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let actor of actorDataSource.result" [value]="actor">
        {{actor.actorName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button type="submit" (click)="onSubmitClick()" cdkFocusInitial>{{edit ? 'Edit' : 'Create'}}</button>
</div>
