<div mat-dialog-content>
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input [formControl]="nameControl" matInput [(ngModel)]="data.personalDiscount.name">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Discount</mat-label>
    <input [formControl]="discountControl" matInput type="number" [(ngModel)]="data.personalDiscount.discount">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Description</mat-label>
    <input [formControl]="descriptionControl" matInput [(ngModel)]="data.personalDiscount.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button type="submit" (click)="onSubmitClick()" cdkFocusInitial>{{edit ? 'Edit' : 'Create'}}</button>
</div>
