<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" style="overflow: hidden; margin-top: -0.25vh; margin-bottom: -1.25vh;"><img src="favicon.ico" style="filter: invert(1);width: 32px;display: inline-block; padding-bottom: 15px" alt="">
        <span style="letter-spacing: 0.5vw; text-transform: uppercase; padding-left: 0.25vw" >Cine+</span></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-light" [routerLink]="['/']" [hidden]="router.url === '/'" >Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']"
              *ngIf="user && authorizeService.userInRoles(user,['Admin', 'Manager'])">
            <a class="nav-link text-light" [routerLink]="['/manage']"
            >Manage</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']"
              *ngIf="user && authorizeService.userInRoles(user,['Admin'])">
            <a class="nav-link text-light" [routerLink]="['/role-list']"
            >Roles</a
            >
          </li>
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>
