<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container-md">
        <h2>{{movie.movieName}} ({{movie.duration}} min)</h2>
        <br>
        <h5>Directed by: {{movie.director}}</h5>
        <br>
        <h5>Genre: {{movie.genre.genreName}}</h5>
        <br>
        <h5>Reviews: {{movie.score}}</h5>
      </div>
    </div>
    <div class="col-sm">
      <mat-card class="mb-3 mt-3">
        <ng-form>
          <p>
            <mat-form-field class="w-100">
              <input [formControl]="dateTimeFormControl" [errorStateMatcher]="matcher" type="datetime-local" matInput placeholder="Start time"/>
              <mat-error *ngIf="dateTimeFormControl.hasError('required')">
                Date and time of reproduction is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="w-100">
              <mat-label>Select the theater</mat-label>
              <mat-select [formControl]="theaterFormControl">
                <mat-option *ngFor="let theater of theaters" (onSelectionChange)="setNewReproductionTheater($event, theater)" value="{{theater}}">{{theater.id}}: {{theater.rows}}x{{theater.columns}}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field floatLabel="always">
              <mat-label>Price</mat-label>
              <input matInput type="number" class="example-right-align" [formControl]="priceFormControl" placeholder="0">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
              <mat-error *ngIf="priceFormControl.hasError('required')">
                Price is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="dateTimeFormControl.hasError('min')">
                Price can't be negative <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
        </ng-form>

        <button class="float-right" mat-raised-button (click)="AddReproduction()">Create</button>
      </mat-card>
    </div>
  </div>
</div>

<br><br>

<h4> Playing </h4>

<div class="mat-elevation-z8 mb-5" *ngIf="reproductionData.result">
  <table mat-table [dataSource]="reproductionData.result" matSort>

    <ng-container matColumnDef="theaterId">
      <th mat-header-cell *matHeaderCellDef>Theater</th>
      <td mat-cell *matCellDef="let element"> <span>{{element['theaterId']}}</span></td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef>Start Time</th>
      <td mat-cell *matCellDef="let element"><span>{{element['startTime']}} </span></td>
    </ng-container>

    <ng-container matColumnDef="availSeats">
      <th mat-header-cell *matHeaderCellDef>Available Seats</th>
      <td mat-cell *matCellDef="let element">
      <span>  {{0}}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row routerLink="/reserve" [queryParams]="{reproduction: row['id']}" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                 [pageSize]="reproductionData.currentPagination.pageSize"
                 [length]="reproductionData.currentPagination.totalItems"
                 [pageIndex]="reproductionData.currentPagination.currentPage - 1" (page)="editPagination($event)">
  </mat-paginator>
</div>
