table {
  width: 100%;
  /*background: #f6f4f4;*/
  padding: 10px;
}

mat-grid-tile {
  background: lightblue;
}

.mat-header-row{
  background: #f6f4f4;
}
.mat-row  {
  padding: 100px;
}
.mat-row span{
  position: relative;
}
.mat-row td {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: none;
  position: relative;
  z-index: 1;
}

.mat-row td::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}


.mat-row td:first-child:before td:last-child:after {
  border-left: 2px solid lightgray;
}

.mat-row:hover td::before {
  cursor: pointer;
  border-color: gray;
}

.custom-host :host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-right-align {
  text-align: right;
}

input.example-right-align {
  -moz-appearance: textfield;
}
